body,
html {
    padding: 0 5px;
}

#savedUserInfo {
    .btn-secondary {
      min-width: 250px;
    }
}

img {
    max-height: 400px;
}

.angular-google-map-container {
    height: 400px;
}

.main {
    color: white;
}

.formPage {
    color: white;

    h3,
    label {
        color: black;
    }
}

.minMarg {
    margin: 1rem;
}

.px-6 {
    padding: 0 2rem;
}
